body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.first-section{
    background-color: #1f2937;
    color: #FFFFFF;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 256px;
    flex: 1;
}
a{
    color:#ffffff;
    text-decoration: none;
}
.top-right-links{
    color: #e5e7eb;
    font-size: 18px;
    gap: 18px;
}
ul{
    display:flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logo{
    font-weight: 1000;
    font-size:24px;
    color: #F9FAF8;
}
.main{
    font-size: 48px;
    font-weight:900;
    color:#f9faf8;
}
.text-w-signup{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    background-color: #3882f6;
    color: #ffffff;
    padding: 10px;
    width: 124px;
    font-weight: 600;
    border-radius: 8px;
}
.w-button{
    display: flex;
    padding: 100px 256px;
    gap: 64px;
    align-items: center;
    flex:1;
    justify-content: space-between;
}
p, .text{
    font-size: 18px;
}
.information{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    text-align: center;
    padding-bottom: 48px;
}
.second-section{
    display: flex;
    flex-direction: column;
    padding: 48px 164px;
}
.image-text{
    display: flex;
    gap: 64px;
    justify-content: center;
}
.pair{
    display: flex;
    flex-direction: column;
}
.text{
    padding-top: 10px;
    width: 0;
    min-width:100%;
    text-align: center;
}
.blue-round{
    border: 4px solid #3882f6;
    border-radius: 8px;
}
.third-section{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 64px 496px 48px;
}
.quote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}
.author{
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    margin: 24px auto;
}